.inputContainer {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 1rem;
  margin-top: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  width: 25px;
  margin: 3px;
}

.dropdownContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.dropdown {
  text-align: center;
}

.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.selected:hover {
  color: coral;
}

.selectedItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.selectedItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.inputWithButton input {
  width: 200px;
}
.inputButton button {
  width: 70px;
  border: 1px solid #c7c6c6;
  background-color: white;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.suggestion {
  border-left: 1px solid #444;
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  padding: 5px 10px;
  border-radius: 10px;
}
.suggestion:hover {
  background-color: #e3e2e2;
  cursor: pointer;
}

.inputWithButton {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.inputWithButton button {
  width: 90px;
  height: 30px;
}
