.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  padding: 10px 0 5px 0;
  font-weight: 700;
}
.image {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.image img {
  width: 80%;
}
.inst {
  padding-left: 10px;
  padding-right: 10px;
}
.ing {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-style: italic;
  color: #444;
}
.time {
  flex: 0 0 auto;
}
.buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.instructions {
  /*  width: 500px; */
  padding-bottom: 5px;
  height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  margin-bottom: 10px;
}
