@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
  font-family: "Quicksand";
  font-weight: 500;
}

.app {
  border: 5px solid #444;
  width: 320px;
  height: 570px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
button,
input {
  font-family: inherit;
  font-size: inherit;
}
input {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #c7c6c6;
  font-size: 13px;
}
button {
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgb(136, 251, 201);
}
